.App {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.home-page {
  min-height: 60vh;
  background-color: lightblue;
  background-image: url(https://images.pexels.com/photos/267885/pexels-photo-267885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.unify-logo {
  min-height: 60vh;
  color: white;
  font-size: 7.5rem;
  line-height: 50vh;
}

.desc, .about {
  text-align: justify;
}

.uni-list {
  max-height: 80vh;
  text-align: left;
  overflow: auto;
}
.search-div {
  padding: 5rem;
}
.search {
  max-height: 100vh;

}
.search-form {
  height: 80vh;
}

.saved-unis-container {
  min-height: 20vh;
}

.home-bottom {
  text-align: center
}

/* .uni-card {
  max-height: 20vh;
} */
